/* ---- обнуляем CSS ---- */
*, *::before, *::after { margin: 0; padding: 0; box-sizing: border-box; }
html { font-size: 1rem; }
body { font-family: Arial, sans-serif; line-height: 1.6; }

* {
  transition: 0.25s ease;
}

/* ---- HEADER ---- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #102f5e;
  height: 10rem;
}

h1, h2, h3 {
  font-size: 22px;
  margin-bottom: 8px;
  color: #f86115;
}

.logo {
  overflow: hidden;
  border-radius: 30% 70% 500% 70%;
  scale: 30%;
  min-width: 25rem;
  max-height: 25rem;
  margin-left: -10rem;
}
.nav {
  position: relative;
}

.nav_list {
  display: flex;
  gap: 2rem;
  list-style: none;
  align-items: center;
}

.nav_list li {
  line-height: 1;
  min-width: 80px;
}

.nav_list a {
  text-decoration: none;
  font-size: 19px;
  font-weight: bold;
  line-height: 1;
  color: #fff;  
}

.nav_list a:hover {
  transform: translateY(-4px);
  color: #f86115;
}

/* скрытый чекбокс */
.burger-toggle {
  display: none;
}

/* иконка-бургер */
.burger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: #fff;
}

/* ---- GRID LAYOUT ---- */
.grid-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2rem;
  padding: 2rem;
}

.about p {
  text-align: justify;
  text-indent: 2.5em;
}

.aside-column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
}

aside {
  background:#e5e8ed57;
  border-radius: 8px;
  padding: 1.5rem 2rem 2rem;
  border-left: 2px solid #f86115;
}

#contacts span {
  white-space: nowrap;
}

.course {
  flex: 1;
}

.course_list li {
  list-style-type: none;
  padding-bottom: 1em;
}

main section {
  padding: 1.5rem 2rem 2rem;
  margin-bottom: 2rem;
}

/* Чередование секций */
main section:nth-child(odd) {
  background: #e5e8ed57;
  border-radius: 8px;
}
main section:nth-child(even) { background: #fff; }

/* ---- видео ---- */
.video-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

video {
  max-width: 100%;
  height: auto;
}

/* ---- портфолио в GRID ---- */
.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.card {
  background: #fff;
  padding: 1rem;
  border-radius: 0.75rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.card h3, .card p {
  text-align: center;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.12);
}

/* выделение особенных проектов */
.card:has(.best_project) {
  border-left: 2px solid #ff0022;
  border-top: 2px solid #ff0022;
}

.card:has(.last_project) {
  border-left: 2px solid #046e10;
  border-top: 2px solid #046e10;
}

.card:has(.work_project) {
  border-right: 2px solid #0914b1;
  border-bottom: 2px solid #0914b1;
}

.card img {
  filter: grayscale(100%);
  width: 100%;
  height: auto;
  transition: filter 0.3s;
  border-radius: .5rem;
}

.card:hover img {
  filter: grayscale(0);
}

.best_project {
  display: inline-block;
  margin-top: .5rem;
  padding: .2rem .5rem;
  background: #ff0022;
  color: white;
  font-size: .8rem;
}

.last_project {
  display: inline-block;
  margin-top: .5rem;
  padding: .2rem .5rem;
  background: #046e10;
  color: white;
  font-size: .8rem;
}

.work_project {
  display: inline-block;
  margin-top: .5rem;
  padding: .2rem .5rem;
  background: #0914b1;
  color: white;
  font-size: .8rem;
}

.strong_side_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  list-style: none;
}

.strong_side_list li {
  background: #ffffff;
  padding: 1rem;
  border-radius: .75rem;
  border: 1px solid #ddd;
  box-shadow: 0 2px 8px rgba(0,0,0,0.04);
}

/* ---- FOOTER ---- */
footer {
  background: #333;
  color: white;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

audio {
  width: 100%;
  filter: invert(100%);
}

/* ---- настройка адаптивности MEDIA ---- */
@media (max-width: 1200px) {
  .portfolio-grid {
   grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  .portfolio-grid {
   grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .portfolio-grid {
    grid-template-columns: 1fr;
  }

  .burger {
    display: block;
  }
  .nav {
   display: none;
  }
  .nav_list {
    display: none;
    flex-direction: column;
    gap: 1rem;
    background: #f0f0f0;
    padding: 1rem;
    margin-top: 5rem;
    border-radius: .5rem;
  }
  
 .nav_list a {
  color: #676767;
 }

  .burger-toggle:checked + .burger + nav .nav_list {
    display: flex;
  }

  .burger-toggle:checked + .burger + .nav {
    display: block;
  }
}
@media (max-width: 600px) {
.strong_side_list {
  grid-template-columns: 1fr;
}
}